:root {
  --link-accent: #2196f3;
  --firstly-accent: #000000;
  --secondary-accent: #ffffff;
  --main-text: #212121;
  --secondary-text: #757575;
  --secondary-back: #2f303a;
  --hero-bg: #C4C4C4;
  --secbtn-color: #188ce8;
  --adress-color: rgba(255, 255, 255, 0.6);
  --bg-soc-link: rgba(255, 255, 255, 0.1);
  --bg-modal: rgba(0, 0, 0, 0.2);
  --bg-modal-sec: rgba(0, 0, 0, 0.1);
  --border-accent: #ECECEC;
  --back-button: #f5f4fa;
  --sec-border-accent: #EEEEEE;
  --icon-color: #AFB1B8;
  --what-bg: rgba(47, 48, 58, 0.8);
  --portfolio-bg: rgba(33, 150, 243, 0.9);
  --margin9: 9px;
  --margin10: 10px;
  --margin12: 12px;
  --margin16: 16px;
  --margin20: 20px;
  --margin30: 30px;
  --margin40: 40px;
  --margin50: 50px;
  --margin93: 93px;
  --padding30: 30px;
  --padding32: 32px;
  --padding60: 60px;
  --padding94: 94px;
  --padding200: 200px;
  --duration250ms: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*cant see */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* Off style link */
.link {
  text-decoration: none;
}

/* Off style list */
.list {
  list-style-type: none;
}

/* margin-padding off */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

/* Logo */
.header-logo {
  margin-right: 93px;
}

.header-logo,
.footer-logo {
  color: var(--link-accent);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

/* Logo accent */
.logo-firstly {
  color: var(--firstly-accent);
}

.footer-logo {
  display: block;
  margin-bottom: var(--margin20);
}

.logo-secondary {
  color: var(--secondary-accent);
}

/* ===========HEADER=========== */
.header-flex {
  border-bottom: 1px solid var(--border-accent);
}

.header-flex .container {
  display: flex;
  align-items: center;
}

/* Menu nav */
.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: var(--margin50);
}

.header-list .link {
  transition: color var(--duration250ms) var(--time-function);
  display: block;
  padding-top: var(--padding32);
  padding-bottom: var(--padding32);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

/*Active */
.link.active {
  color: var(--link-accent);
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-accent);
}

/* Contacts */
.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-item:not(:last-child) {
  margin-right: var(--margin50);
}

.contacts .link {
  transition: color var(--duration250ms) var(--time-function);
  padding-top: var(--padding32);
  padding-bottom: var(--padding32);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text);
}

.contacts-icon {
  margin-right: var(--margin10);
  fill: currentColor;
  vertical-align: middle;
}

.header-list .link:hover,
.header-list .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--link-accent);
}

/* Button */
.btn {
  transition: background-color var(--duration250ms) var(--time-function);
  border-radius: 4px;
  border: transparent;
  padding: 10px var(--padding32);
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--link-accent);
  color: var(--secondary-accent);
}

.btn:hover,
.btn:focus {
  background-color: var(--secbtn-color);
}

.item-adress:not(:last-child) {
  margin-bottom: var(--margin9);
}

.item-adress .link {
  transition: color var(--duration250ms) var(--time-function);
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-accent);
}

.link.adress {
  transition: color var(--duration250ms) var(--time-function);
  color: var(--adress-color);
}

.link.adress:hover,
.link.adress:focus,
.item-adress .link:hover,
.item-adress .link:focus {
  color: var(--link-accent);
}

.join {
  margin-left: 70px;
}

.join-title,
.subscribe-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--secondary-accent);
  margin-bottom: var(--margin20);
}

.join-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-item + .join-item {
  margin-left: var(--margin10);
}

.join-link {
  transition: background-color var(--duration250ms) var(--time-function);
  width: 44px;
  height: 44px;
  background-color: var(--bg-soc-link);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--secondary-accent);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--link-accent);
}

.subscribe {
  margin-left: var(--margin93);
}

.subscribe-title {
  display: flex;
}

.subscribe-input {
  padding-left: var(--margin16);
  width: 358px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--adress-color);
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--adress-color);
}

.subscribe-btn {
  margin-left: var(--margin12);
  padding-left: 29px;
  padding-right: 28px;
  fill: currentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-send {
  margin-left: var(--margin10);
  vertical-align: middle;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-modal);
  transition: opacity 1000ms, visibility 1000ms, transform 1000ms;
}

.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;
  transform: rotateY(180deg) rotateX(0) translate(-50%, -50%) scale(0.1);
}

/* ==========MODAL=WINDOW========== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateY(360deg) rotateX(360deg) translate(-50%, -50%) scale(1);
  transition: transform 1000ms;
  width: 528px;
  min-height: 581px;
  background-color: var(--secondary-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-icon-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 1px solid var(--bg-modal-sec);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: fill var(--duration250ms) var(--time-function);
}

.modal-icon-close:focus,
.modal-icon-close:hover {
  fill: var(--link-accent);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form-modal {
  padding: var(--margin40);
}

.form-title {
  margin-bottom: var(--margin12);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--main-text);
}

.form-label,
.form-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text);
}

.input-wrap {
  position: relative;
  margin-bottom: var(--margin12);
}

.form-input {
  width: 100%;
  height: var(--margin40);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: var(--padding32);
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.form-input:focus {
  border-color: var(--link-accent);
}

.form-input:focus + .input-icon {
  fill: var(--link-accent);
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.user-text {
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: var(--margin12) var(--margin16);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  resize: none;
}

.user-text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  margin-top: var(--margin20);
  margin-bottom: var(--margin30);
}

.check-text,
.check-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text);
}

.check-text .check-wrap {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--main-text);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-check {
  fill: transparent;
}

.check-link {
  color: var(--link-accent);
}

.form-check:checked + .check-text .check-wrap {
  background-color: var(--link-accent);
  border: none;
}

.form-check:checked + .check-text .icon-check {
  fill: #EEEEEE;
}

.modal-btn {
  display: block;
  margin: 0 auto;
}

/* ===========HERO=========== */
.hero {
  max-width: 1600px;
  height: 600px;
  background-color: var(--hero-bg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: var(--padding200);
  padding-bottom: var(--padding200);
  text-align: center;
}

.hero-capt {
  max-width: 700px;
  margin-right: auto;
  margin-bottom: var(--margin30);
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-accent);
}

/* =========Section our advantage========== */
.our-advantage {
  padding-top: var(--padding94);
}

.advantage-list {
  display: flex;
}

.list-item:not(:last-child) {
  margin-right: var(--padding30);
}

.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--back-button);
}

.item-caption {
  margin-top: var(--margin30);
  margin-bottom: var(--margin10);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text);
}

.item-text {
  max-width: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text);
}

/* =============What we do=================== */
.what-we-do {
  padding-top: var(--padding94);
  padding-bottom: var(--padding94);
}

.section-caption {
  margin-bottom: var(--margin50);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text);
}

.what-list {
  display: flex;
  margin-right: calc(-1 * var(--padding30));
}

.what-item {
  position: relative;
  flex-basis: calc(33.3333333333% - var(--padding30));
  margin-right: var(--padding30);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.what-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--what-bg);
  color: var(--secondary-accent);
}

/* ==========Section our team ===================*/
.team {
  background-color: var(--back-button);
  padding-top: var(--padding94);
  padding-bottom: var(--padding94);
}

.team-list {
  display: flex;
  margin-right: calc(-1 * var(--padding30));
}

.item-team {
  flex-basis: calc(25% - var(--padding30));
  margin-right: var(--padding30);
  width: 270px;
  height: 428px;
  background-color: var(--secondary-accent);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-padding {
  text-align: center;
  padding: var(--padding30);
}

.team-caption {
  color: var(--main-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: var(--margin10);
}

.team-text {
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: var(--margin16);
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item + .team-soc-item {
  margin-left: var(--margin10);
}

.team-soc-link {
  transition: background-color var(--duration250ms) var(--time-function), fill var(--duration250ms) var(--time-function);
  width: 44px;
  height: 44px;
  background-color: var(--secondary-accent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--link-accent);
  fill: var(--secondary-accent);
}

/* ============Regular customers===========*/
.reg-clients {
  background-color: var(--secondary-accent);
  padding-top: var(--padding94);
  padding-bottom: var(--padding94);
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item + .clients-item {
  margin-left: var(--margin30);
}

.clients-link {
  transition: fill var(--duration250ms) var(--time-function), border var(--duration250ms) var(--time-function);
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
}

.clients-link:hover {
  fill: var(--link-accent);
  border: 1px solid var(--link-accent);
}

/* =============FOOTER====================== */
.footer {
  background-color: var(--secondary-back);
  padding-top: var(--padding60);
  padding-bottom: var(--padding60);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}/*# sourceMappingURL=main.css.map */