/* ============Regular customers===========*/

.reg-clients {
    background-color: var(--secondary-accent);
    padding-top: var(--padding94);
    padding-bottom: var(--padding94);
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-item+.clients-item {
    margin-left: var(--margin30);
}

.clients-link {
    transition: fill var(--duration250ms) var(--time-function),
        border var(--duration250ms) var(--time-function);

    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);
}

.clients-link:hover {
    fill: var(--link-accent);
    border: 1px solid var(--link-accent);
}