/* ============Regular customers===========*/
.customers {
    background-color: $secondary-accent;
    padding-top: $padding94;
    padding-bottom: $padding94;

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item + &__item {
        margin-left: $margin30;
    }

    &__link {
        transition: fill $duration250ms $time-function,
            border $duration250ms $time-function;

        width: 170px;
        height: 92px;
        border: 1px solid $icon-color;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: $icon-color;
    }

    &__link:hover {
        fill: $link-accent;
        border: 1px solid $link-accent;
    }
}