/* =============FOOTER====================== */

.footer {
    background-color: $secondary-back;
    padding-top: $padding60;
    padding-bottom: $padding60;
}

.footer__wrap {
    display: flex;
    align-items: baseline;
}

