/* =============FOOTER====================== */

.footer {
    background-color: var(--secondary-back);
    padding-top: var(--padding60);
    padding-bottom: var(--padding60);
}

.footer-flex {
    display: flex;
    align-items: baseline;
}