
/* ==========Section our team ===================*/

.team {
  background-color: var(--back-button);
  padding-top: var(--padding94);
  padding-bottom: var(--padding94);
}

.team-list{
  display: flex;
  margin-right: calc(-1 * var(--padding30));
}

.item-team{
  flex-basis: calc(100% / 4 - var(--padding30));
  margin-right: var(--padding30);
  width: 270px;
  height: 428px;
  background-color: var(--secondary-accent);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-padding{
  text-align: center;
  padding: var(--padding30);

}

.team-caption {
  color: var(--main-text);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: var(--margin10);
}

.team-text {
  color: var(--secondary-text);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: var(--margin16);
}

.team-soc-list{
  display: flex;
  justify-content: center;
}

.team-soc-item + .team-soc-item{
  margin-left: var(--margin10);
}

.team-soc-link{
  transition: background-color var(--duration250ms) var(--time-function), 
  fill var(--duration250ms) var(--time-function);

  width: 44px;
  height: 44px;
  background-color: var(--secondary-accent);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill:var(--icon-color);
}

.team-soc-link:hover,
.team-soc-link:focus{
  background-color: var(--link-accent);
  fill: var(--secondary-accent);
}