.adress__item:not(:last-child) {
    margin-bottom: $margin9;
}

.adress__link {
    transition: color $duration250ms $time-function;

    display: inline-block;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: $adress-color;
    
    &--white {
            color: $secondary-accent;
        }
    
    &:hover,
    &:focus {
            color: $link-accent;
        }
}
