/* Contacts */
.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contacts__link {
    transition: color $duration250ms $time-function;

    padding-top: $padding32;
    padding-bottom: $padding32;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $secondary-text;
}

.header__icon{
    margin-right: $margin10;
}

.contacts__icon {
    fill: currentColor;
    vertical-align: middle;
}

.contacts__link:hover,
.contacts__link:focus {
    color: $link-accent;
}